@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

/* font-family: 'Nunito', sans-serif;
font-family: 'Sansita', sans-serif;
font-family: 'Syncopate', sans-serif; */

@import 'reset.css';

/* configuração padrao */

body {
  background: #001d9a;
}

h1 {
  font-family: 'Sansita', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
  color: #fff;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.2;
  color: #fff;
}

a {
  text-decoration: none;
  font-family: 'Syncopate', sans-serif;
  color: #fff;
}

img {
  max-width: 100%;
  display: block;
}

/* menu */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 383px;
  height: 180px;
  padding: 1.5rem;
}

#menu {
  display: flex;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

/* Midias 600px */
@media (max-width: 600px) {
  #header a {
    margin: 0 auto;
  }

  #nav button {
    display: block;
    position: absolute;
    top: 1%;
    left: 65%;
  }

  #header {
    width: 100%;
    max-width: 600px;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 160px;
    right: 0;
    background: #001d9a;
    transition: 0.6s;
    z-index: 1000;
    height: 0;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 100px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1.7rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.58);
    text-align: center;
    font-size: 1rem;
  }

  #btn-mobile {
    display: flex;
    margin-left: 20%;
    padding: 0.5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  #hamburger {
    display: block;
    border-top: 2px solid;
    width: 30px;
    color: #fff;
  }

  #hamburger::after,
  #hamburger::before {
    content: ' ';
    display: block;
    width: 30px;
    height: 2px;
    background: currentColor;
    margin-top: 8px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -8px;
  }
}

/* Midias 575px */
@media (max-width: 600px) {
  #header {
    width: 100%;
    max-width: 600px;
  }

  #header {
    background: url('../img/FundoHeader3.png') no-repeat;
    background-size: cover;
    background-position: 5% 2%;
    background-size: 100% 106%;
  }

  /* info-mobile */
  .info-mobile {
    width: 100%;
    max-width: 545px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  #info-mobile .info-mobile-app {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    width: 100%;
    max-width: 240px;
    padding: 13px 0;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  #info-mobile .info-mobile-watts {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  #info-mobile .info-mobile-face {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  #info-mobile .info-mobile-insta {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  /* quem somos */
  .quemsomos {
    width: 100%;
    max-width: 600px;
    margin: 58px auto;
    display: flex;
  }

  .quemsomos-bg {
    width: 100%;
    max-width: 545px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  .quemsomos-bg h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 25px;
  }

  .quemsomos-texto {
    width: 100%;
    text-align: justify;
    margin-bottom: 20px;
  }

  .quemsomos-texto p {
    font-size: 1.3rem;
  }

  .quemsomos-fotos {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  .quemsomos-fotos img {
    width: 105px;
    border: 3px solid rgba(255, 255, 255, 0.11);
    border-radius: 50%;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  /* proposito */

  .proposito {
    width: 100%;
    max-width: 600px;
    margin: 62px auto;
  }

  .proposito-bg {
    width: 100%;
    max-width: 545px;
    margin: 0 auto;
    padding: 20px;
  }

  .proposito-bg h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
  }

  .proposito-texto {
    width: 100%;
    text-align: justify;
  }

  .proposito-texto p {
    font-size: 1.3rem;
  }

  .proposito-foto {
    display: none;
  }

  /* regras */

  .regras {
    width: 100%;
    max-width: 600px;
    margin: 58px auto;
  }

  .regras-bg {
    width: 100%;
    max-width: 545px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  .regras-bg h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 25px;
  }

  .regras-texto {
    width: 100%;
    text-align: justify;
    margin-bottom: 25px;
  }

  .regras-texto p {
    font-size: 1.3rem;
  }

  #video-cf {
    width: 100%;
    max-width: 545px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  /* duvidas */

  .duvidas {
    width: 100%;
    max-width: 600px;
    margin: 62px auto;
  }

  .duvidas {
    background: url('../img/fundoDuvudas.png') no-repeat center;
    background-size: cover;
    background-position: 5% 0%;
    background-size: 100% 100%;
  }

  .duvidas-bg {
    width: 100%;
    max-width: 545px;
    margin: 0 auto;
    padding: 20px;
  }

  .duvidas-bg h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
  }

  .duvidas-textos {
    font-size: 1.3rem;
  }

  .duvidas-textos {
    width: 100%;
    text-align: justify;
  }

  .duvidas-textos li p {
    font-size: 1.4rem;
    padding: 10px;
    margin-bottom: 10px;
  }

  .duvida-texto-contato {
    width: 100%;
    text-align: justify;
    margin-bottom: 30px;
  }

  .duvida-texto-contato p {
    font-size:1.4rem;
  }

  .duvida-botoes-contatos {
    width: 100%;
    max-width: 535px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .duvida-botoes-contatos div {
    width: 58px;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
    margin-bottom: 15px;
    margin-top: 15px;
  }

  /* termos */

  .termos-img {
    display: none;
  }

  .termos {
    width: 100%;
    max-width: 600px;
    margin: 62px auto;
  }
  .termos-bg {
    background: url('../img/FundoRegras2.png') no-repeat;
    background-size: cover;
  }

  .termos-bg {
    width: 100%;
    max-width: 545px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }
  
  .termos-bg img{
    float: right;
  }

  .termos-bg h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }


  .termo-texto p {
    font-size: 1.4rem;
  }
  .termo-texto {
    width: 100%;
    text-align: justify;
    padding: 10px;
    margin-bottom: 25px;
  }

  /* footer */

  .footer {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
  }

  .footer-bg {
    width: 100%;
    max-width: 545px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }
}

/* Midias 575px */
@media (max-width: 575px) {
  #header {
    width: 100%;
    max-width: 575px;
  }

  #header {
    background: url('../img/FundoHeader3.png') no-repeat;
    background-size: cover;
    background-position: 5% 2%;
    background-size: 100% 106%;
  }

  /* info-mobile */
  .info-mobile {
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  #info-mobile .info-mobile-app {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    width: 100%;
    max-width: 240px;
    padding: 13px 0;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  #info-mobile .info-mobile-watts {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  #info-mobile .info-mobile-face {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  #info-mobile .info-mobile-insta {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  /* quem somos */
  .quemsomos {
    width: 100%;
    max-width: 575px;
    margin: 58px auto;
    display: flex;
  }

  .quemsomos-bg {
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  .quemsomos-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
  }

  .quemsomos-texto {
    width: 100%;
    text-align: justify;
  }

  .quemsomos-fotos {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  .quemsomos-fotos img {
    width: 105px;
    border: 3px solid rgba(255, 255, 255, 0.11);
    border-radius: 50%;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  /* proposito */

  .proposito {
    width: 100%;
    max-width: 575px;
    margin: 62px auto;
  }

  .proposito-bg {
    width: 100%;
    max-width: 535px;
    margin: 0 auto;
    padding: 20px;
  }

  .proposito-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .proposito-texto {
    width: 100%;
    text-align: justify;
  }

  .proposito-foto {
    display: none;
  }

  /* regras */

  .regras {
    width: 100%;
    max-width: 575px;
    margin: 58px auto;
  }

  .regras-bg {
    width: 100%;
    max-width: 535px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  .regras-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
  }

  .regras-texto {
    width: 100%;
    text-align: justify;
  }

  #video-cf {
    width: 100%;
    max-width: 535px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  /* duvidas */

  .duvidas {
    width: 100%;
    max-width: 575px;
    margin: 62px auto;
  }

  .duvidas {
    background: url('../img/fundoDuvudas.png') no-repeat center;
    background-size: cover;
    background-position: 5% 0%;
    background-size: 100% 100%;
  }

  .duvidas-bg {
    width: 100%;
    max-width: 535px;
    margin: 0 auto;
    padding: 20px;
  }

  .duvidas-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .duvidas-textos {
    width: 100%;
    text-align: justify;
  }

  .duvidas-textos li p {
    padding: 10px;
    margin-bottom: 10px;
  }

  .duvida-texto-contato {
    width: 100%;
    text-align: justify;
    margin-bottom: 20px;
  }

  .duvida-botoes-contatos {
    width: 100%;
    max-width: 535px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .duvida-botoes-contatos div {
    width: 55px;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
    margin-bottom: 15px;
    margin-top: 15px;
  }

  /* termos */

  .termos-img {
    display: none;
  }

  .termos {
    width: 100%;
    max-width: 575px;
    margin: 62px auto;
  }
  .termos-bg {
    background: url('../img/FundoRegras2.png') no-repeat;
    background-size: cover;
  }

  .termos-bg {
    width: 100%;
    max-width: 535px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  .termos-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .termo-texto {
    width: 100%;
    text-align: justify;
    padding: 5px;
    margin-bottom: 10px;
  }

  /* footer */

  .footer {
    width: 100%;
    max-width: 575px;
    margin: 30px auto;
  }

  .footer-bg {
    width: 100%;
    max-width: 535px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }
}

/* Midias 525px */
@media (max-width: 526px) {
  #header {
    width: 100%;
    max-width: 526px;
  }

  #header {
    background: url('../img/FundoHeader3.png') no-repeat;
    background-size: cover;
    background-position: 5% 2%;
    background-size: 100% 106%;
  }

  /* info-mobile */
  .info-mobile {
    width: 100%;
    max-width: 485px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  #info-mobile .info-mobile-app {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    width: 100%;
    max-width: 240px;
    padding: 13px 0;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  #info-mobile .info-mobile-watts {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  #info-mobile .info-mobile-face {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  #info-mobile .info-mobile-insta {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  /* quem somos */
  .quemsomos {
    width: 100%;
    max-width: 526px;
    margin: 58px auto;
    display: flex;
  }

  .quemsomos-bg {
    width: 100%;
    max-width: 485px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  .quemsomos-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
  }

  .quemsomos-texto {
    width: 100%;
    text-align: justify;
  }

  .quemsomos-fotos {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  .quemsomos-fotos img {
    width: 105px;
    border: 3px solid rgba(255, 255, 255, 0.11);
    border-radius: 50%;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  /* proposito */

  .proposito {
    width: 100%;
    max-width: 526px;
    margin: 62px auto;
  }

  .proposito-bg {
    width: 100%;
    max-width: 485px;
    margin: 0 auto;
    padding: 20px;
  }

  .proposito-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .proposito-texto {
    width: 100%;
    text-align: justify;
  }

  .proposito-foto {
    display: none;
  }

  /* regras */

  .regras {
    width: 100%;
    max-width: 526px;
    margin: 58px auto;
  }

  .regras-bg {
    width: 100%;
    max-width: 485px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  .regras-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
  }

  .regras-texto {
    width: 100%;
    text-align: justify;
  }

  #video-cf {
    width: 100%;
    max-width: 485px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  /* duvidas */

  .duvidas {
    width: 100%;
    max-width: 526px;
    margin: 62px auto;
  }

  .duvidas {
    background: url('../img/fundoDuvudas.png') no-repeat center;
    background-size: cover;
    background-position: 5% 0%;
    background-size: 105% 110%;
  }

  .duvidas-bg {
    width: 100%;
    max-width: 485px;
    margin: 0 auto;
    padding: 20px;
  }

  .duvidas-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .duvidas-textos {
    width: 100%;
    text-align: justify;
  }

  .duvidas-textos li p {
    padding: 10px;
    margin-bottom: 10px;
  }

  .duvida-texto-contato {
    width: 100%;
    text-align: justify;
    margin-bottom: 20px;
  }

  .duvida-botoes-contatos {
    width: 100%;
    max-width: 485px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .duvida-botoes-contatos div {
    width: 55px;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
    margin-bottom: 15px;
    margin-top: 15px;
  }

  /* termos */

  .termos-img {
    display: none;
  }

  .termos {
    width: 100%;
    max-width: 526px;
    margin: 62px auto;
  }
  .termos-bg {
    background: url('../img/FundoRegras2.png') no-repeat;
    background-size: cover;
  }

  .termos-bg {
    width: 100%;
    max-width: 485px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  .termos-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .termo-texto {
    width: 100%;
    text-align: justify;
    padding: 5px;
    margin-bottom: 10px;
  }

  /* footer */

  .footer {
    width: 100%;
    max-width: 526px;
    margin: 30px auto;
  }

  .footer-bg {
    width: 100%;
    max-width: 485px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }
}

/* Midias 475px */
@media (max-width: 475px) {
  #header {
    width: 100%;
    max-width: 470px;
  }

  #header {
    background: url('../img/FundoHeader3.png') no-repeat;
    background-size: cover;
    background-position: 5% 2%;
    background-size: 100% 106%;
  }

  /* info-mobile */
  .info-mobile {
    width: 100%;
    max-width: 445px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  #info-mobile .info-mobile-app {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    width: 100%;
    max-width: 230px;
    padding: 13px 0;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  #info-mobile .info-mobile-watts {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  #info-mobile .info-mobile-face {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  #info-mobile .info-mobile-insta {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  /* quem somos */
  .quemsomos {
    width: 100%;
    max-width: 470px;
    margin: 58px auto;
    display: flex;
  }

  .quemsomos-bg {
    width: 100%;
    max-width: 445px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  .quemsomos-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
  }

  .quemsomos-texto {
    width: 100%;
    text-align: justify;
  }

  .quemsomos-fotos {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  .quemsomos-fotos img {
    width: 105px;
    border: 3px solid rgba(255, 255, 255, 0.11);
    border-radius: 50%;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  /* proposito */

  .proposito {
    width: 100%;
    max-width: 475px;
    margin: 62px auto;
  }

  .proposito-bg {
    width: 100%;
    max-width: 445px;
    margin: 0 auto;
    padding: 20px;
  }

  .proposito-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .proposito-texto {
    width: 100%;
    text-align: justify;
  }

  .proposito-foto {
    display: none;
  }

  /* regras */

  .regras {
    width: 100%;
    max-width: 475px;
    margin: 58px auto;
  }

  .regras-bg {
    width: 100%;
    max-width: 445px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  .regras-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
  }

  .regras-texto {
    width: 100%;
    text-align: justify;
  }

  #video-cf {
    width: 100%;
    max-width: 475px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  /* duvidas */

  .duvidas {
    width: 100%;
    max-width: 475px;
    margin: 62px auto;
  }

  .duvidas {
    background: url('../img/fundoDuvudas.png') no-repeat center;
    background-size: cover;
    background-position: 5% 0%;
    background-size: 105% 110%;
  }

  .duvidas-bg {
    width: 100%;
    max-width: 445px;
    margin: 0 auto;
    padding: 20px;
  }

  .duvidas-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .duvidas-textos {
    width: 100%;
    text-align: justify;
  }

  .duvidas-textos li p {
    padding: 10px;
    margin-bottom: 10px;
  }

  .duvida-texto-contato {
    width: 100%;
    text-align: justify;
    margin-bottom: 20px;
  }

  .duvida-botoes-contatos {
    width: 100%;
    max-width: 445px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .duvida-botoes-contatos div {
    width: 55px;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
    margin-bottom: 15px;
    margin-top: 15px;
  }

  /* termos */

  .termos-img {
    display: none;
  }

  .termos {
    width: 100%;
    max-width: 475px;
    margin: 62px auto;
  }
  .termos-bg {
    background: url('../img/FundoRegras2.png') no-repeat;
    background-size: cover;
  }

  .termos-bg {
    width: 100%;
    max-width: 445px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  .termos-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .termo-texto {
    width: 100%;
    text-align: justify;
    padding: 5px;
    margin-bottom: 10px;
  }

  /* footer */

  .footer {
    width: 100%;
    max-width: 475px;
    margin: 30px auto;
  }

  .footer-bg {
    width: 100%;
    max-width: 445px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }
}

/* Midias 425px */
@media (max-width: 425px) {
  #header {
    width: 100%;
    max-width: 425px;
  }

  #header {
    background: url('../img/FundoHeader3.png') no-repeat;
    background-size: cover;
    background-position: 5% -2%;
    background-size: 100% 106%;
  }

  /* info-mobile */
  .info-mobile {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  #info-mobile .info-mobile-app {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    width: 100%;
    max-width: 200px;
    padding: 13px 0;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  #info-mobile .info-mobile-watts {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  #info-mobile .info-mobile-face {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  #info-mobile .info-mobile-insta {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  /* quem somos */
  .quemsomos {
    width: 100%;
    max-width: 425px;
    margin: 58px auto;
    display: flex;
  }

  .quemsomos-bg {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  .quemsomos-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
  }

  .quemsomos-texto {
    width: 100%;
    text-align: justify;
  }

  .quemsomos-fotos {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  .quemsomos-fotos img {
    width: 100px;
    border: 3px solid rgba(255, 255, 255, 0.11);
    border-radius: 50%;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  /* proposito */

  .proposito {
    width: 100%;
    max-width: 425px;
    margin: 58px auto;
  }

  .proposito-bg {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 15px;
  }

  .proposito-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .proposito-texto {
    width: 100%;
    text-align: justify;
  }

  .proposito-foto {
    display: none;
  }

  /* regras */

  .regras {
    width: 100%;
    max-width: 425px;
    margin: 58px auto;
  }

  .regras-bg {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  .regras-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
  }

  .regras-texto {
    width: 100%;
    text-align: justify;
  }

  #video-cf {
    width: 100%;
    max-width: 375px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  /* duvidas */

  .duvidas {
    width: 100%;
    max-width: 425px;
    margin: 58px auto;
  }

  .duvidas {
    background: url('../img/fundoDuvudas.png') no-repeat center;
    background-size: cover;
  }

  .duvidas-bg {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 15px;
  }

  .duvidas-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .duvidas-textos {
    width: 100%;
    text-align: justify;
  }

  .duvidas-textos li p {
    padding: 5px;
    margin-bottom: 10px;
  }

  .duvida-texto-contato {
    width: 100%;
    text-align: justify;
    margin-bottom: 15px;
  }

  .duvida-botoes-contatos {
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .duvida-botoes-contatos div {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
    margin-bottom: 15px;
    margin-top: 15px;
  }

  /* termos */

  .termos-img {
    display: none;
  }

  .termos {
    width: 100%;
    max-width: 425px;
    margin: 50px auto;
  }
  .termos-bg {
    background: url('../img/FundoRegras2.png') no-repeat;
    background-size: cover;
  }

  .termos-bg {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  .termos-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .termo-texto {
    width: 100%;
    text-align: justify;
    padding: 5px;
    margin-bottom: 15px;
  }

  /* footer */

  .footer {
    width: 100%;
    max-width: 425px;
    margin: 30px auto;
  }

  .footer-bg {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }
}

/* Midias 375 */
@media (max-width: 375px) {
  #header {
    background: url('../img/FundoHeader3.png') no-repeat;
    background-size: cover;
    background-position: 5% -2%;
    background-size: 100% 106%;
  }

  /* info-mobile */
  .info-mobile {
    width: 100%;
    max-width: 355px;
    margin: 0 auto;
    /* border: 2px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  #info-mobile .info-mobile-app {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
    width: 100%;
    max-width: 155px;
    padding: 13px 0;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  #info-mobile .info-mobile-watts {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  #info-mobile .info-mobile-face {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  #info-mobile .info-mobile-insta {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  /* Como Funciona */

  .quemsomos {
    width: 100%;
    max-width: 375px;
    margin: 58px auto;
    display: flex;
  }

  .quemsomos-bg {
    width: 100%;
    max-width: 355px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  .quemsomos-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
  }

  .quemsomos-texto {
    width: 100%;
    text-align: justify;
  }

  .quemsomos-fotos {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  .quemsomos-fotos img {
    width: 85px;
    border: 3px solid rgba(255, 255, 255, 0.11);
    border-radius: 50%;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  /* proposito */
  .proposito {
    width: 100%;
    max-width: 375px;
    margin: 58px auto;
  }

  .proposito-bg {
    width: 100%;
    max-width: 355px;
    margin: 0 auto;
    padding: 15px;
  }

  .proposito-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .proposito-texto {
    width: 100%;
    text-align: justify;
  }

  .proposito-foto {
    display: none;
  }

  /* Regras */

  .regras {
    width: 100%;
    max-width: 375px;
    margin: 58px auto;
  }

  .regras-bg {
    width: 100%;
    max-width: 355px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  .regras-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
  }

  .regras-texto {
    width: 100%;
    text-align: justify;
  }

  #video-cf {
    width: 100%;
    max-width: 370px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  /* duvidas */

  .duvidas {
    width: 100%;
    max-width: 375px;
    margin: 58px auto;
  }

  .duvidas {
    background: url('../img/fundoDuvudas.png') no-repeat center;
    background-size: cover;
  }

  .duvidas-bg {
    width: 100%;
    max-width: 355px;
    margin: 0 auto;
    padding: 15px;
  }

  .duvidas-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .duvidas-textos {
    width: 100%;
    text-align: justify;
  }

  .duvidas-textos li p {
    padding: 5px;
    margin-bottom: 10px;
  }

  .duvida-texto-contato {
    width: 100%;
    text-align: justify;
    margin-bottom: 15px;
  }

  .duvida-botoes-contatos {
    width: 100%;
    max-width: 355px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .duvida-botoes-contatos div {
    width: 50px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
    margin-bottom: 15px;
    margin-top: 15px;
  }

  /* termos */

  .termos-img {
    display: none;
  }

  .termos {
    width: 100%;
    max-width: 375px;
    margin: 50px auto;
  }
  .termos-bg {
    background: url('../img/FundoRegras2.png') no-repeat;
    background-size: cover;
  }

  .termos-bg {
    width: 100%;
    max-width: 355px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }

  .termos-bg h1 {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }

  .termo-texto {
    width: 100%;
    text-align: justify;
    padding: 5px;
    margin-bottom: 15px;
  }

  /* footer */

  .footer {
    width: 100%;
    max-width: 375px;
    margin: 30px auto;
  }

  .footer-bg {
    width: 100%;
    max-width: 355px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    box-shadow: 26px 20px 36px rgba(0, 0, 98, 0.5),
      -9px -9px 16px rgba(52, 61, 186, 0.5),
      inset -18px -18px 30px rgba(52, 61, 186, 0.5),
      inset 18px 18px 30px rgba(1, 16, 127, 0.5);
  }
}
