        @import'reset.css';
        @import'global.css';
        @import'style.css';
        /* pagina */
        
        #page {
            background: linear-gradient(269.23deg, rgba(0, 0, 0, 0.74) 10.34%, #00000088 99.33%), url('../img/imgRegras.png');
            background-repeat: no-repeat;
        }
        
        #page {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 30%;
        }
        
        #page {
            text-align: center;
            min-height: 100vh;
            display: flex;
        }
        /* main */
        
        .main {
            width: 100%;
            margin: 50px auto;
        }
        
        .main h1 {
            font-weight: 600;
            font-size: clamp(2.5rem, 3.5vw, 4.5rem);
        }
        
        .texto-cf {
            width: 100%;
            margin-top: 50px;
        }
        
        .texto-cf h5 {
            color: #fff;
            margin-right: 55%;
        }
        
        .texto-cf p {
            font-size: clamp(1rem, 1.4vw, 2.1rem);
            text-align: justify;
        }
        
        .texto-cf img {
            width: 6em;
            height: 6em;
        }
        
        .img1 {
            float: left;
        }
        
        .img2 {
            float: right;
        }
        
        .cf-video {
            width: 90%;
            max-width: 800px;
        }
        
        #video-cf {
            width: clamp(20rem, 80vw, 87rem) !important;
        }