        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
        @import'reset.css';
        @import'global.css';
        /* @import'grid.css'; */
        @import'style.css';
        /* pagina */
        
        /* #page {
            background: linear-gradient(269.23deg, rgba(0, 0, 0, 0.74) 10.34%, #00000088 99.33%), url('../img/imgRegras.png');
            background-repeat: no-repeat;
        }
        
        #page {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 30%;
        } */
        body{
            background: #102246;

        }

        #page{
            background: #102246; 
        }

        #page{
            background: #102246;
        }
        #page {
            text-align: center;
            min-height: 100vh;
            display: flex;
        }
        /* main */
        
        .main {
            width: 100%;
            margin: 50px auto;
        }

        .main p{
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 2rem;
            line-height: 1.2;
            text-align:initial;
            padding: 5px;
   
        }
        
        .main h1 {
            font-weight: 600;
            font-size: clamp(2.5rem, 3.5vw, 4.5rem);
        }
        
        .texto-cf {
            width: 100%;
            margin-top: 50px;
        }
        
        .texto-cf h5 {
            color: #fff;
            margin-right: 55%;
        }
        
        .texto-cf p {
            font-size: clamp(1rem, 1.4vw, 2.1rem);
            text-align: justify;
        }
        
        .texto-cf img {
            width: 6em;
            height: 6em;
        }
        
        .img1 {
            float: left;
        }
        
        .img2 {
            float: right;
        }

        .viodeo{
            margin-top:40px;
            margin-bottom: 40px;
        }
        
        .cf-video {
            width: 90%;
            max-width: 800px;
        }

        #video-cf {
            width: 84rem !important;
            position: relative;
            right:1rem;
        }

        .passo ul li{
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 2rem;
            line-height: 1.2;
            text-align:initial;
            color: #fff;
        }
 


        @media (max-width: 769px){
            .main p {
                font-size: 18px;
                padding: 6px;
            }

            .passo ul li {
                font-size: 18px;
            }

            .viodeo{
                margin-top:30px;
                margin-bottom: 30px;
            }
            
           
            #video-cf {
                width: 600px !important;
                position: relative;
                left:0;
            }
        }
      
       
        @media (max-width: 426px){
            .main p {
                font-size: 18px;
                padding: 6px;
            }

            .passo ul li {
                font-size: 18px;
            }

            .viodeo{
                margin-top:30px;
                margin-bottom: 30px;
            }
            
           
            #video-cf {
                width: 325px !important;
                position: relative;
                left:0;
            }
        } 
       
        @media (max-width: 376px){
            .main p {
                font-size: 15px;
                padding: 6px;
            }

            .passo ul li {
                font-size: 15px;
            }

            .viodeo{
                margin-top:30px;
                margin-bottom: 30px;
            }

            #video-cf {
                width: 285px !important;
                position: relative;
                left:0;
            }
        } 


        @media (max-width: 321px){
            .main p {
                font-size: 15px;
                padding: 6px;
            }

            .passo ul li {
                font-size: 15px;
            }

            .viodeo{
                margin-top:30px;
                margin-bottom: 30px;
            }

            #video-cf {
                width: 250px !important;
                position: relative;
                left:0;
            }
        }
        
       

        