        @import'reset.css';
        @import'global.css';
        @import'style.css';
        /* pagina */
        
        #page {
            background: linear-gradient(269.23deg, rgba(0, 0, 0, 0.74) 10.34%, #00000088 99.33%), url('../img/imgRegras.png');
            background-repeat: no-repeat;
        }
        
        #page {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 30%;
        }
        
        #page {
            text-align: center;
            min-height: 100vh;
            display: flex;
        }
        /* main */
        
        .main {
            width: 100%;
            margin: 50px auto;
        }
        
        .main h1 {
            font-weight: 600;
            font-size: clamp(2.5rem, 3.5vw, 4.5rem);
        }
        
        .img1 {
            float: left;
            width: 5em;
            height: 5em;
        }
        
        .img2 {
            float: right;
            width: 5em;
            height: 5em;
        }